.navlink-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #CDA02B;
    border-right: 2px solid #292424;
    display: flex;
    flex-direction: column;
}

.navlink-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navlink {
    display: block;
    margin: 1px;
    padding: 3px;
    border: 2px solid #808080;
    border-radius: 10px;
    color: #000000;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.navlink:hover {
    background-color: #b97713;
}

.active {
    background-color: #b97713;
    font-weight: bold;
}

.navlink-menu {
    padding: 2px;
}

.navlink-submenu {
    text-decoration: none;
}

.logout-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.logout {
    padding: 10px 15px;
    border-radius: 10px;
    color: #000000;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.logout:hover {
    background-color: #b97713;
}